body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background for better contrast */
}

header {
    background-color: #9CBA9A; /* Sage green */
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center align navigation items */
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    background-color: #ffffff; /* White background for main content */
    border-radius: 8px; /* Rounded corners for a soft look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

footer {
    background-color: #9CBA9A; /* Sage green */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#home img, .gallery img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* White background for the form */
    padding: 1rem;
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

form label, form input, form textarea {
    margin-bottom: 1rem;
}

form input, form textarea {
    border: 1px solid #9CBA9A; /* Sage green border for form elements */
    border-radius: 4px; /* Rounded corners for form elements */
    padding: 0.5rem;